@model IEnumerable<CursosMVC.Models.Profesor>
@{

    var l = new List<String>()
    {
        "Uno", "Dos", "Tres", "Cuatro", "Cinco"
    };
    
    
}


<h2>@ViewBag.Title</h2>
<h3>@String.Format("Creado el dia {0:g}",ViewBag.Fecha)</h3>
<p>
    @Html.ActionLink("Detalles", "Details","Curso",new {id=1},
    new{@class="active",style="color:red;text-decoration: none;"})
</p>
@*<a href="~/Profesor/accion"></a>*@

@Html.Partial("_lista",l)
@Html.Action("ListProfesores","AccionesComunes")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
           
        </th>
        <th>
            @Html.DisplayNameFor(model => model.experiencia)
            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.experiencia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idProfesor }) |
            @Html.ActionLink("Details", "Details", new { id=item.idProfesor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProfesor })
        </td>
    </tr>
}

</table>
